<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [
    'db' => [
        'username' => '',
        'password' => '',
        'adapters' => [
            'satu' => [
                'username' => '',
                'password' => '',
            ],
        ],
    ],
    'session_config' => [
        //SPECIFY SAFE PATH LOCATION FOR SESSION
        /*  APPLY TO DIRECTORY:
         *  sudo chown root:root <path>
         *  sudo chmod 1733 <path>
         */
        'save_path' => '',
    ],
    'mail' => [
        'host'              => '',
        'port'              => <port>,
        'connection_class'  => '',
        'connection_config' => [
            'ssl'      => 'tls',
            'username' => '',
            'password' => '',
        ],
        'from'              => '',
        'from_name'         => '',
    ],
    'decano' => [
        'nombre' => 'Arq. Nombre decano',
        'titulo' => 'Decano',
    ],
];
